form {
  text-align: center;
  margin-top: 100px;
}

input[type=text] {
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: right;
}
input[type=button] {
  padding: 5px 13px;
}

#op{
  position: absolute;
  z-index: 999;
}
